<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card card-upgrade">

        <div class="">
<!-- Sección de Mapa con Efecto Parallax -->
        <div id="map-wrapper">
            <!-- Contenido que se superpondrá sobre el mapa -->
            <div class="overlay-content">
            <div class="row">
                <div class="col-lg-4">
                <div class="content-box" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px; margin-left: 40px;">
                    <h2>{{datamap.name}}</h2>
                    <p>Total recorrido: {{distanciatotal}}km</p>
                </div>
                </div>
            </div>
            </div>
            
        
            <!-- Mapa (Por simplicidad, lo representaré con un color de fondo) -->
            <div id="map" class="map"></div>

          
        </div>
       
          </div>
          
        </div>
        <div class="card card-upgrade">

            <div class="">
                <div class="login-box">
                    <form>
                      <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Iniciar Pista
                      </a>
                    </form>
                  </div>
              </div>
              
            </div>
      </div>
