<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card card-upgrade">

        <div class="">
            <div class="l-container">
                <div class="b-game-card" *ngFor="let event of events">
                    <a [routerLink]="['/event-detail', event.id]"> <!-- Suponiendo que cada evento tiene un ID -->
                      <div class="b-game-card__cover" style="background-image: url({{event.photo}});"></div>
                      <div class="b-game-card__text">
                          <h3>{{event.nombre}}</h3>
                          <p>{{event.fecha}}</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
