.panel-header.panel-header-sm {
    margin-bottom: 20px; // Puedes ajustar este valor según tus necesidades
    padding-top: 1px;
  
  }
  
  .logo-image {
    max-width: 100px; // También puedes ajustar este valor
    display: block;
    margin: 0 auto; // Esto centrará tu imagen en el div
  }

  .btn-primary {
    background-color: #FF1616;
    color: #fff;
}

