<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card card-upgrade">

        <div class="">
            <div class="l-container">
                <div class="b-game-card" *ngFor="let event of events">
                    <a [routerLink]="['/track-detail', event.id]"> <!-- Suponiendo que cada evento tiene un ID -->
                      <div class="b-game-card__cover" style="background-image: url({{event.photo}});"></div>
                      <div class="b-game-card__text">
                          <h3>{{event.name}}</h3>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Tabla de posiciones General</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Nombre de usuario
                          </th>
                          <th>
                            Garage
                          </th>
                          <th>
                            Posicion General
                          </th>
                          <th class="text-right">
                            Puntos
                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of posiciones ">
                            <td>
                                {{user.username}}
                            </td>
                            <td>
                                <div *ngIf="user.garage && user.garage[0]; else noGarage">
                                    {{user.garage[0].brand}} {{user.garage[0].model}}
                                </div>
                                <ng-template #noGarage>
                                    Sin registrar
                                </ng-template>
                            </td>
                            <td>
                                {{user.posicion}}                               
                           </td>
                            <td class="text-right">
                               {{user.puntos}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
