<div class="panel-header" style=" height: 10px;
padding-top: 19px;">
</div>


<!-- Sección de Introducción -->
<div >

  <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <!-- <a href="#" class="logo">Culture <b>By Drivy</b></a> -->

      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info margin-left">
          <h1>Precisión, vuelta tras vuelta.</h1>
          <p>En culture utilizamos su posición GPS para calcular los tiempos de vuelta con la mayor precisión.</p>
          <div *ngIf="isMobile">
            <button (click)="promptInstall()">Agregar al inicio</button>
          </div>
          <button (click)="scrollToMap()">Prueba Gratis nuestro servicio</button>

        </div>
        <div class="image">
          <img src="./assets/img/pin_home.png">
        </div>
      </div>

    </div>

  </div>
  <!-- End Landing Page -->
</div>





<!-- Sección de Mapa con Efecto Parallax -->
<div id="map-wrapper">
  <!-- Contenido que se superpondrá sobre el mapa -->
  <div class="overlay-content">
    <div class="row">
      <div class="col-lg-4">
        <div class="content-box" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px; margin-left: 40px;">
          <div class="alert alert-warning alert-dismissible fade show" *ngIf="showAlert" role="alert">
            <strong>Hola soy Culture!</strong> estoy accediendo a su ubicación.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mapa (Por simplicidad, lo representaré con un color de fondo) -->

  <div id="map" style="width: 100%; height: 100vh; background-color: #b3e0ff;"></div>
</div>

<!-- Sección de Conclusión -->
<!-- <div class="section" style="background-color: #f2f2f2; height: 100vh; display: flex; align-items: center; justify-content: center;">
  <h1>¡Gracias por visitar!</h1>
</div> -->






