/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.black{
  background-color: #5d5d5d;
}

.whithe{
  color: #FFF;

}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.margin-left{
  margin-left: 40px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #ff3636;
}
.landing-page header .links li:not(:last-child):hover {
  color: #ff3636;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px
  }
}
.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #ff3636;
}
/* Asegurando que la imagen esté centrada en la vista celular */
@media (max-width: 767px) {
  .landing-page .content .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-page .content .image img {
    max-width: 100%;
    height: auto;
  }

  .landing-page .content .info button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Añadiendo iconos a los botones según su función,
/* Añadiendo iconos a los botones según su función */
.landing-page .content .info button:before {
  margin-right: 10px;
  display: inline-block; /* Asegura que el ícono se ajuste adecuadamente junto al texto del botón */
}

/* Ícono para el botón "Instalar Aplicación" */
button[click*="promptInstall"]:before, button[click*="showiOSInstallGuide"]:before {
  content: '\2193'; /* Representa una flecha hacia abajo, como símbolo de descarga */
}

/* Ícono para el botón "Prueba Gratis nuestro servicio" */
button[click*="scrollToMap"]:before {
  content: '\25B6'; /* Representa una flecha de play */
}

/* Centrar el contenido de .info en vistas móviles */
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinear verticalmente al centro */
    align-items: center; /* Alinear horizontalmente al centro */
    gap: 10px; /* Espacio entre los elementos */
    height: 50%; /* Ocupa la mitad de la altura disponible */
  }

  /* Si deseas que los botones ocupen el ancho completo en vistas móviles, puedes agregar esto */
  .landing-page .content .info button {
    width: 100%;
    max-width: 300px; /* Un ancho máximo por estética */
    margin-top: 20px;
  }
}


