<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Editar perfil usuario</h5>
        </div>
        <!-- Card user info -->
        <!-- <div *ngIf="isLoading" class="loading">Cargando...</div> -->
        <div class="card-body">
          <form [formGroup]="profileForm">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombre Completo</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Usuario</label>
                  <input type="text" class="form-control" formControlName="username">
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Numero telefonico</label>
                  <input type="tell" class="form-control" disabled="" value="{{ userProfile.phoneNumber }}" >
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Rol</label>
                  <input type="text" class="form-control"  disabled="" placeholder="" value="{{ userProfile.role }}">
                </div>
              </div>

            </div>

            <hr>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label for="email">Correo electronico</label>
                  <input name="email" id="email" type="email" class="form-control"formControlName="email" >
                </div>
              </div>


              <div class="col-md-5 pr-1">
                <div class="form-group">
                    <label>Ciudad</label>

                    <!-- Dropdown para seleccionar ciudad -->
                    <select [(ngModel)]="userProfile.city" class="form-control" formControlName="city">
                        <option *ngFor="let city of filteredCities">
                            {{ city.name }}
                        </option>
                    </select>
                </div>
            </div>

<!--
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" placeholder="Contraseña" value="">
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nueva Contraseña</label>
                  <input type="password" class="form-control" placeholder="Nueva">
                </div>
              </div> -->

            </div>

            <hr>

            <button class="btn btn-primary update-btn" (click)="actualizarInformacion()">
              <i class="now-ui-icons loader_refresh" [ngClass]="{'spin': isUpdating}"></i>
              {{ isUpdating ? 'Generando Cambios' : 'Actualizar Información' }}
          </button>


          </form>
        </div>

        <!-- Card info car -->

      </div>

      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="title">Garaje</h5>
            <!-- Botón que dispara el modal -->
            <button type="button"
            class="btn btn-primary"
            (click)="collapse1.toggle()"
            [attr.aria-expanded]="!isCollapsed1">

        <!-- Mostrar esto cuando isUpdating es true -->
        <ng-container *ngIf="isUpdating">
            <i class="now-ui-icons loader_refresh spin"></i> Cargando vehículos
        </ng-container>

        <!-- Mostrar esto cuando isUpdating es false -->
        <ng-container *ngIf="!isUpdating">
            <i class="now-ui-icons ui-1_simple-add"></i> Añadir vehículo
        </ng-container>
    </button>


        </div>
        <hr>
        <!-- Card user info -->
        <div class="card-body">
          <div #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="garajeForm">
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>ID Culture Car</label>
                        <input type="text" class="form-control" disabled="" formControlName="photo">
                      </div>
                    </div>

                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Marca</label>
                        <input type="text" class="form-control" formControlName="brand">
                      </div>
                    </div>

                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Modelo</label>
                        <input type="text" class="form-control" formControlName="model">
                      </div>
                    </div>

                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Año</label>
                        <input type="number" class="form-control" formControlName="year">
                      </div>
                    </div>



                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                          <label>Subir Foto </label>
                          <div class="custom-file-upload">
                              <input type="file" id="fileInput" (change)="handleFileInput($event)" class="form-control-file" hidden>
                              <label for="fileInput">
                                  <i class="fas fa-paperclip"></i> Elijir el archivo (JPG, PNG, JEPG)
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="card margin" style="width: 20rem;">
                    <img class="card-img-top" *ngIf="imageToShow" [src]="imageToShow" alt="Card image cap">

                </div>




                  </div>


                  <hr>

                  <button class="btn btn-primary update-btn" (click)="enviarDatosGaraje()">
                    <i class="now-ui-icons loader_refresh" [ngClass]="{'spin': isUpdating}"></i>
                    {{ isUpdating ? 'Generando Cambios' : 'Guardar Vehiculo' }}
                </button>

                </form>
              </div>
            </div>
          </div>

          <div #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="garajeForm" (ngSubmit)="enviarDatosGaraje()">
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>ID Culture Car</label>
                        <input type="text" class="form-control" disabled="" formControlName="photo">
                      </div>
                    </div>

                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Marca</label>
                        <input type="text" class="form-control" formControlName="brand">
                      </div>
                    </div>

                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Modelo</label>
                        <input type="text" class="form-control" formControlName="model">
                      </div>
                    </div>

                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Año</label>
                        <input type="number" class="form-control" formControlName="year">
                      </div>
                    </div>



                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                          <label>Subir Foto </label>
                          <div class="custom-file-upload">
                              <input type="file" id="fileInput" (change)="handleFileInput($event)" class="form-control-file" hidden>
                              <label for="fileInput">
                                  <i class="fas fa-paperclip"></i> Eligir archivo (JPG, PNG, JEPG - 1MG)
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="card margin" style="width: 20rem;">
                    <img class="card-img-top" *ngIf="imageToShow" [src]="imageToShow" alt="Card image cap">

                </div>




                  </div>


                  <hr>


                  <button class="btn btn-primary update-btn" (click)="actualizarInformacion()">
                    <i class="now-ui-icons loader_refresh" [ngClass]="{'spin': isUpdating}"></i>
                    {{ isUpdating ? 'Generando Cambios' : 'Actualizar Vehiculo' }}
                </button>

                </form>
              </div>
            </div>
          </div>

          <div *ngFor="let vehicle of vehicles" class="card margin" style="width: 20rem;">
            <div class="image-container">
              <img class="card-img-top"
                   [src]="vehicle.photo"
                   alt="Card image of {{ vehicle.brand }}"
                   onerror="this.onerror=null; this.src='./assets/img/logo_blank.png';">
                   <div class="image-label top-label">{{ vehicle.model }}</div>
                   <div class="image-label bottom-label">{{ vehicle.year }}</div>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ vehicle.brand }}</h3>
              <div class="btn-group">
                <button type="button"
                        class="btn btn-info"
                        (click)="collapse2.toggle()"
                        [attr.aria-expanded]="!isCollapsed2">
                    <i class="now-ui-icons ui-2_settings-90"></i> Editar
                </button>
                <button type="button"
                        class="btn btn-danger">
                    <i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
                </button>
            </div>

            </div>
          </div>




        </div>

    </div>






    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/5469408.jpg" alt="...">
        </div>
        <div class="card-body ">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" id="dynamicAvatar" alt="user">
              <h5 class="title" style="color: red;">{{ userProfile.username }}</h5>
            </a>
            <p class="description">
              {{ userProfile.name }}
            </p>

          </div>
          <hr>
          <div class="qr-container">
            <ngx-qrcode
                [value]="qrCodeValue"
                qrc-class="my-custom-qr-class"
                qrc-version="4"
                qrc-errorCorrectionLevel="M">

            </ngx-qrcode>
            <img src="./assets/img/ms-icon.png" class="qr-icon">
        </div>


        </div>


        </div>

      </div>

    </div>
  </div>








