<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card"> 
        <div class="card-header">
          <h5 class="title">Editar perfil usuario</h5>
        </div>
        <!-- Card user info -->
        <div class="card-body">
          <form [formGroup]="profileForm" (ngSubmit)="actualizarInformacion()" >
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nombre Completo</label>
                  <input type="text" class="form-control" formControlName="name" value="{{ userProfile.name }}">
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Usuario</label>
                  <input type="text" class="form-control" formControlName="username" value="{{ userProfile.username }}">
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Numero telefonico</label>
                  <input type="tell" class="form-control" disabled="" value="{{ userProfile.phoneNumber }}" >
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Tipo usuario </label>
                  <input type="text" class="form-control"  disabled="" placeholder="" value="{{ userProfile.role }}">
                </div>
              </div>

            </div>

            <hr>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Correo electronico</label>
                  <input name="email" id="email" type="email" class="form-control"formControlName="email" value="{{ userProfile.email }}">
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Ciudad</label>
                  <input type="text" class="form-control" formControlName="city" value="{{ userProfile.city }}">
                </div>
              </div>
             
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Contraseña</label>
                  <input type="password" class="form-control" placeholder="Contraseña" value="">
                </div>
              </div>

              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Nueva Contraseña</label>
                  <input type="password" class="form-control" placeholder="Nueva">
                </div>
              </div>

            </div>

            <hr>
           
            <button class="btn btn-primary update-btn" >Actualizar Información</button>

          </form>
        </div>

        <!-- Card info car -->
        
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="title">Garaje</h5>
        </div>
        <!-- Card user info -->
        <div class="card-body">
          
          <!-- <div class="figure-container">
          <figure class="snip1529">
            <img src="https://rodaticarros.com.co/images/listings/2023-03/2d5e0a78-1679228228-18.jpg" alt="pr-sample13" />
            <div class="date"><span class="day">2022</span><span class="month">AMG</span></div>
            <figcaption>
              <h4>Mercedes-Benz Clase GLA</h4>
              <p>1.6</p>
            </figcaption>
            <div class="hover"><i class="ion-android-open"></i></div>
            <a href="#"></a>
          </figure>

          <figure class="snip1529">
            <img src="./assets/img/logo_blank.png" alt="pr-sample13" />
            <div class="date"><span class="day">2023</span><span class="month">DRIVY</span></div>
            <figcaption>
              <h4></h4>
              <p></p>
            </figcaption>
            <div class="hover"><i class="ion-android-open"></i></div>
            <a href="#"></a>
          </figure>
        </div> -->

        

        </div>

        <!-- Card info car -->
        
      </div>

    
    
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/5469408.jpg" alt="...">
        </div>
        <div class="card-body ">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" id="dynamicAvatar" alt="user">
              <h5 class="title" style="color: red;">{{ userProfile.name }}</h5>
            </a>
            <p class="description">
              {{ userProfile.username }}
            </p>
           
          </div>
          <hr>
          <div class="qr-container">
            <ngx-qrcode
                [value]="qrCodeValue"
                qrc-class="my-custom-qr-class"
                qrc-version="4"
                qrc-errorCorrectionLevel="M">
                
            </ngx-qrcode>
            <img src="./assets/img/ms-icon.png" class="qr-icon">
        </div>
        
        
        </div>
       
      
        </div>
        
      </div>

    </div>
  </div>
